.hint {
    -fx-hyperlink-fill: -monet-primary;
}

.two-line-list-item {
    -fixed-warning-tag-background: #F1AEB5;
}

.log-window {
    -fixed-log-toggle-selected: #2C2017;
    -fixed-log-toggle-unselected: #7B6A5C;
    -fixed-log-text-fill: #2C2017;
    -fixed-log-trace: #EFE7DC;
    -fixed-log-debug: #EFE7DC;
    -fixed-log-info: #FFFFFF;
    -fixed-log-warn: #FDE5C8;
    -fixed-log-error: #F6D0C6;
    -fixed-log-fatal: #ECA393;
    -fixed-log-selected: #D5C8BC;
}
